{% load static %}

<style>
  {% if page == "coiffures" and hommes %}
  .bg-footer{
    
    background-color:#eee;
    
  }
  {% else %}
  .bg-footer{
    background-color:#C60944;
    color: #fff;
  }
  {% endif %}
</style>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center bg-footer justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Suivez-nous sur les réseaux sociaux :</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="bg-footer">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-5">
            <!-- Content -->
            {% if page == "coiffures" and hommes %}
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> A propos de nous
            </h6>
            <p>
              Allô coiffeur est une plateforme de make up en ligne qui propose ses services de coiffures à domicile à des prix qui défient toute concurrence, le tout dans un cadre convivial et branché.
            </p>
            {% else %}
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i> A propos de nous
            </h6>
            <p>
              Allô Make up est une plateforme de make up en ligne qui propose ses services de maquillages à domicile à des prix qui défient toute concurrence, le tout dans un cadre convivial et branché.
            </p>
            {% endif %}
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Nos horaires
            </h6><hr>
            <p>
              <a href="#!" class="text-reset">Lundi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mardi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mercredi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Jeudi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vendredi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Samedi | 8h00 - 17h30</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Dimanche | Fermé</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              D'autres endroits à visiter !
            </h6>
            <p>
              <a href="{% url 'actualites'%}" class="text-reset">Actualités</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Services</a>
            </p>
            <p>
              <a href="{% url 'contact'%}" class="text-reset">Contact</a>
            </p>
            <p>
              <a href="#!" class="text-reset">A propos de nous</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mt-3">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Abidjan, Côte d'Ivoire 225 Cité Diaspora</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@allocoiffeur.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 225 07 08 09 78 65</p>
            <p><i class="fas fa-print me-3"></i> + 225 01 02 12 32 45</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    {% if page == "coiffures" and hommes %}
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="{% url 'contact'%}">Allô Coiffeur</a>
    </div>
    {% else %}
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="{% url 'contact'%}">Allô Make up</a>
    </div>
    {% endif %}
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static 'slider\js\bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js\mdb.js'%}"></script>
<script src="{% static '/coiffeurapp/js/script.js'%}"></script>
<script src="{% static '/404.js'%}"></script>



    
</body>
    
</html>