{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" type="text/css" href="{% static '/login/ins.css'%}">
         
    <title>Inscription</title> 
    <style>
        
    </style>
</head>
<body>
    
    <div class="container">
        <div class="forms">

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Inscription</span>
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}} </p>
            {% endfor %}
                {% endif %}
                <form method="post" >
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Enrer votre nom" name="username" required>
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Entrer votre email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Créer un mot de passe" name="pwd" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirmer le mot de passe" name="pwd2" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">J'accepte les conditions</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="S'inscrire">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Déjà membre ?
                        <a href="{%url 'login'%}" class="text login-link">Se connecter</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script>
        const container = document.querySelector(".container"),
      pwShowHide = document.querySelectorAll(".showHidePw"),
      pwFields = document.querySelectorAll(".password"),


    //   js code to show/hide password and change icon
    pwShowHide.forEach(eyeIcon =>{
        eyeIcon.addEventListener("click", ()=>{
            pwFields.forEach(pwField =>{
                if(pwField.type ==="password"){
                    pwField.type = "text";

                    pwShowHide.forEach(icon =>{
                        icon.classList.replace("uil-eye-slash", "uil-eye");
                    })
                }else{
                    pwField.type = "password";

                    pwShowHide.forEach(icon =>{
                        icon.classList.replace("uil-eye", "uil-eye-slash");
                    })
                }
            }) 
        })
    })


    </script>
</body>
</html>